<h1>sign-up works! for admin</h1>
<!-- <h1 *ngIf="show;then ifcond else elsecond"></h1>
<ng-template #ifcond>
    <h1>NGIf condition</h1>
</ng-template>
<ng-template #elsecond>
    <h1>NgElse condition</h1>
</ng-template> -->

<!-- <div [ngSwitch] = 'color'>
   <h1 *ngSwitchCase = "'red'" style="color:red">Hello this color is red</h1>
   <h1 *ngSwitchCase = "'blue'" style="color:blue">Hello this color is blue</h1>
   <h1 *ngSwitchCase = "'pink'" style="color:pink">Hello this color is pink</h1>
   <h1 *ngSwitchCase = "'purple'" style="color:purple">Hello this color is purple</h1>
   <h1 *ngSwitchCase = "'green'" style="color:green">Hello this color is green</h1>
   <h1 *ngSwitchCase = "'grey'" style="color:grey">Hello this color is grey</h1>
</div> -->

<h3 *ngFor = "let items of days">{{items}}</h3>
